[Unit]
Description=KarinProxy Core Custom Daemon
After=network.target network-online.target nss-lookup.target
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
User=root
LimitNOFILE=51200
ExecStart=/usr/bin/xray run -c /etc/karin-proxy/config.json

# Магия автоматизации здесь:
ExecStartPost=/etc/karin-proxy/route.sh up
ExecStopPost=/etc/karin-proxy/route.sh down

Restart=on-failure
RestartSec=2
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/var/log/karin-proxy /etc/resolv.conf /etc/karin-proxy
ProtectKernelModules=true
ProtectKernelTunables=false
ProtectControlGroups=true
RestrictSUIDSGID=true
RestrictRealtime=true
LockPersonality=true

# Юнит НЕ должен быть в автозагрузке (WantedBy используется только если
# пользователь сам явно вызовет systemctl enable — по умолчанию GUI
# управляет демоном сам через restart/stop).
[Install]
WantedBy=multi-user.target
